:root {
    --large-height: 70px;
    --large-font: 30px;

    --medium-height: 40px;
    --medium-font: 25px;

    --small-height: 30px;
    --small-font: 20px;
}

.text-box-small {
    position: relative; 
    top: -15px
}


.text-box-medium {
    position: relative; 
    top: -13px
}

.text-box-large {
    position: relative; 
    top: -1px
}


.default {
    background-color: rgb(0, 191, 127);
}

.default:hover {
    background-color: rgb(0, 141, 77);
}

.black {
    background-color: rgb(0, 0, 0);
}

.black:hover {
    background-color: rgb(30, 30, 30);
}


.arrow-button {
    margin: 10px;
    color: white;
    padding: 1em 1em 1em 1em;
    transition: 0.2s;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5rem;

    align-items: center;
    justify-content: center;
    
    padding: 0.9rem 1rem;
}

.arrow-button:hover {
    padding-right: 1.6em;
}

.icon-container {
    position: relative;
    top: -1.25em;
    left: 1.25em;

    display: flex;
    flex-direction: row-reverse;
    flex: 1 1 0;
    align-content: center;
}

.button-icon {
    color: rgb(255, 255, 255);
}

.large {
    height: var(--large-height);
    max-height: var(--large-height);
    font-size: var(--large-font);
}

.medium {
    height: var(--medium-height);
    max-height: var(--medium-height);
    font-size: var(--medium-font);
}

.small {
    height: var(--small-height);
    max-height: var(--small-height);
    font-size: var(--small-font);
}

.landing-page-event-button {
  position: absolute;
  top: 122px;
  padding: 0.9rem 1.75rem;
  padding-right: 28px;
  padding-left: 28px;
  color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 2.2rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.landing-page-event-button:hover {
  background-color: rgb(0, 141, 77);
  padding-right: 62px;
  padding-left: 28px;
}